In [1]:
import pandas as pd

### Leemos el dataset

In [3]:
df = pd.read_excel('premier-matches-raw.xlsx')

In [4]:
df.head()

,comp,season,round,date,time,day,attendance,referee,venue,captain,...,xga,poss,sh,sot,dist,fk,pk,pkatt,match report,notes
0,Premier League,2023,Matchweek 1,2022-08-05,20:00:00,Fri,25286,Anthony Taylor,Away,Martin Ødegaard,...,1.2,44,10,2,14.6,1,0,0,Match Report,NaN
1,Premier League,2023,Matchweek 2,2022-08-13,15:00:00,Sat,60033,Darren England,Home,Martin Ødegaard,...,0.5,50,19,7,13.0,0,0,0,Match Report,NaN
2,Premier League,2023,Matchweek 3,2022-08-20,17:30:00,Sat,10423,Craig Pawson,Away,Martin Ødegaard,...,0.3,57,14,6,14.8,0,0,0,Match Report,NaN
3,Premier League,2023,Matchweek 4,2022-08-27,17:30:00,Sat,60164,Jarred Gillett,Home,Martin Ødegaard,...,0.8,71,22,8,15.5,1,0,0,Match Report,NaN
4,Premier League,2023,Matchweek 5,2022-08-31,19:30:00,Wed,60012,Robert Jones,Home,Martin Ødegaard,...,0.4,59,22,8,16.3,1,0,0,Match Report,NaN

Eliminamos las columnas que no servirán en este análisis

In [6]:
df=df.drop(columns=["captain", "comp", "referee", "gf", "ga", "result", "xg", "xga", "poss", "sh", "sot", "dist", "fk", "pk", "pkatt", "match report", "notes", "formation", "opp formation"])

In [7]:
df.head()

,season,round,date,time,day,attendance,venue,team,opponent
0,2023,Matchweek 1,2022-08-05,20:00:00,Fri,25286,Away,Arsenal,Crystal Palace
1,2023,Matchweek 2,2022-08-13,15:00:00,Sat,60033,Home,Arsenal,Leicester City
2,2023,Matchweek 3,2022-08-20,17:30:00,Sat,10423,Away,Arsenal,Bournemouth
3,2023,Matchweek 4,2022-08-27,17:30:00,Sat,60164,Home,Arsenal,Fulham
4,2023,Matchweek 5,2022-08-31,19:30:00,Wed,60012,Home,Arsenal,Aston Villa

### Estadios por equipo

In [8]:
unique_teams = df['team'].unique()
print(unique_teams)

['Arsenal' 'Aston Villa' 'Bournemouth' 'Brentford'
 'Brighton And Hove Albion' 'Burnley' 'Chelsea' 'Crystal Palace' 'Everton'
 'Fulham' 'Ipswich Town' 'Leeds United' 'Leicester City' 'Liverpool'
 'Luton Town' 'Manchester City' 'Manchester United' 'Newcastle United'
 'Nottingham Forest' 'Sheffield United' 'Southampton' 'Tottenham Hotspur'
 'West Ham United' 'Wolverhampton Wanderers']

Estadios por equipo, obtenidos gracias a Copilot

In [9]:
stadiums = {"Arsenal": "Emirates Stadium", "Aston Villa": "Villa Park", "Bournemouth": "Vitality Stadium", "Brentford": "Brentford Community Stadium", "Brighton And Hove Albion": "Falmer Stadium", "Burnley": "Turf Moor", "Chelsea": "Stamford Bridge", "Crystal Palace": "Selhurst Park", "Everton": "Everton Stadium", "Fulham": "Craven Cottage", "Ipswich Town": "Portman Road", "Leeds United": "Elland Road", "Leicester City": "King Power Stadium", "Liverpool": "Anfield", "Luton Town": "Kenilworth Road", "Manchester City": "Etihad Stadium", "Manchester United": "Old Trafford", "Newcastle United": "St James' Park", "Nottingham Forest": "City Ground", "Sheffield United": "Bramall Lane", "Southampton": "St Mary's Stadium", "Tottenham Hotspur": "Tottenham Hotspur Stadium", "West Ham United": "London Stadium", "Wolverhampton Wanderers": "Molineux Stadium"}

In [10]:
stadiums_df = pd.DataFrame(list(stadiums.items()), columns=['team', 'stadium'])

In [11]:
stadiums_df.head()

                       team                      stadium
0                   Arsenal             Emirates Stadium
1               Aston Villa                   Villa Park
2               Bournemouth             Vitality Stadium
3                 Brentford  Brentford Community Stadium
4  Brighton And Hove Albion               Falmer Stadium

Unimos los datasets

In [12]:
df = df.merge(stadiums_df, on='team', how='left')

### Costo de ticket por estadio

In [13]:
avg_tickets = {"Arsenal": 102.5, "Aston Villa": 83.0, "Bournemouth": 50.0, "Brentford": 60.5, "Brighton And Hove Albion": 64.5, "Burnley": 49.5, "Chelsea": 77.0, "Crystal Palace": 68.5, "Everton": 77.0, "Fulham": 93.0, "Leeds United": 54.0, "Liverpool": 57.5, "Manchester City": 52.0, "Manchester United": 77.5, "Newcastle United": 72.5, "Nottingham Forest": 69.5, "Tottenham Hotspur": 85.0, "West Ham United": 84.0, "Wolverhampton Wanderers": 56.5,  "Ipswich Town": 30.5, "Leicester City": 52.5, "Luton Town": 30.0, "Sheffield United": 67.5, "Southampton": 37.5}

In [14]:
avg_tickets_df = pd.DataFrame(list(avg_tickets.items()), columns=['team', 'avg_ticket_price'])

In [16]:
avg_tickets_df

                        team  avg_ticket_price
0                    Arsenal             102.5
1                Aston Villa              83.0
2                Bournemouth              50.0
3                  Brentford              60.5
4   Brighton And Hove Albion              64.5
5                    Burnley              49.5
6                    Chelsea              77.0
7             Crystal Palace              68.5
8                    Everton              77.0
9                     Fulham              93.0
10              Leeds United              54.0
11                 Liverpool              57.5
12           Manchester City              52.0
13         Manchester United              77.5
14          Newcastle United              72.5
15         Nottingham Forest              69.5
16         Tottenham Hotspur              85.0
17           West Ham United              84.0
18   Wolverhampton Wanderers              56.5
19              Ipswich Town              30.5
20            Leicester City              52.5
21                Luton Town              30.0
22          Sheffield United              67.5
23               Southampton              37.5

Unimos los datasets

In [17]:
df = df.merge(avg_tickets_df, on='team', how='left')

In [18]:
df.head()

,season,round,date,time,day,attendance,venue,team,opponent,stadium,avg_ticket_price
0,2023,Matchweek 1,2022-08-05,20:00:00,Fri,25286,Away,Arsenal,Crystal Palace,Emirates Stadium,102.5
1,2023,Matchweek 2,2022-08-13,15:00:00,Sat,60033,Home,Arsenal,Leicester City,Emirates Stadium,102.5
2,2023,Matchweek 3,2022-08-20,17:30:00,Sat,10423,Away,Arsenal,Bournemouth,Emirates Stadium,102.5
3,2023,Matchweek 4,2022-08-27,17:30:00,Sat,60164,Home,Arsenal,Fulham,Emirates Stadium,102.5
4,2023,Matchweek 5,2022-08-31,19:30:00,Wed,60012,Home,Arsenal,Aston Villa,Emirates Stadium,102.5

## Capacidad por estadio

In [20]:
capacity = {"Emirates Stadium": 60704, "Villa Park": 42640, "Vitality Stadium": 11307, "Brentford Community Stadium": 17250, "Falmer Stadium": 31876, "Turf Moor": 21944, "Stamford Bridge": 40173, "Selhurst Park": 25486, "Everton Stadium": 52769, "Craven Cottage": 28800, "Portman Road": 30056, "Elland Road": 37645, "King Power Stadium": 32259, "Anfield": 61276, "Kenilworth Road": 12056, "Etihad Stadium": 53400, "Old Trafford": 74197, "St James' Park": 52305, "City Ground": 30602, "Bramall Lane": 32702, "St Mary's Stadium": 32384, "Tottenham Hotspur Stadium": 62850, "London Stadium": 62500, "Molineux Stadium": 32050}

In [21]:
capacity_df = pd.DataFrame(list(capacity.items()), columns=['stadium', 'capacity'])

In [22]:
capacity_df.head()

                       stadium  capacity
0             Emirates Stadium     60704
1                   Villa Park     42640
2             Vitality Stadium     11307
3  Brentford Community Stadium     17250
4               Falmer Stadium     31876

Unimos los datasets

In [23]:
df = df.merge(capacity_df, on='stadium', how='left')

## Dataset final

In [24]:
df.to_csv('premier-matches.csv', index=False)

In [25]:
df.head()

,season,round,date,time,day,attendance,venue,team,opponent,stadium,avg_ticket_price,capacity
0,2023,Matchweek 1,2022-08-05,20:00:00,Fri,25286,Away,Arsenal,Crystal Palace,Emirates Stadium,102.5,60704
1,2023,Matchweek 2,2022-08-13,15:00:00,Sat,60033,Home,Arsenal,Leicester City,Emirates Stadium,102.5,60704
2,2023,Matchweek 3,2022-08-20,17:30:00,Sat,10423,Away,Arsenal,Bournemouth,Emirates Stadium,102.5,60704
3,2023,Matchweek 4,2022-08-27,17:30:00,Sat,60164,Home,Arsenal,Fulham,Emirates Stadium,102.5,60704
4,2023,Matchweek 5,2022-08-31,19:30:00,Wed,60012,Home,Arsenal,Aston Villa,Emirates Stadium,102.5,60704